<p style="color: #2980b9;">Comments</p>
<hr>

{{#each post.comments}}
<p style="color: green;">{{this.username}}</p>

 <p>{{this.content}}</p>



 <a class="reply" href="/posts/{{postId}}/comments/{{commentId}}/replies/new">Reply</a>
 <style>
 .comment-indent {
  margin-left: 10px;
}

 </style>

 <div class="col-xs-12 comment-indent">
   <p style="color: green;">{{this.username}}</p>

   <p>{{this.content}}</p>

   {{#each this.comments}}
     {{> comment}}
   {{/each }}
 </div>


 <hr>

{{/each}}
