<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <p style="color: green;">By: {{post.username}}</p>

    <a href="{{post.url}}" class="lead">{{post.title}}</a>

    <p>{{post.summary}}</p>
    {{#if currentUser}}
    <!--Comments-->
    <form action="/post/{{post._id}}/comments" method="post">
       <textarea class='form-control' name="content" placeholder="Comment"></textarea>
       <div class="text-right">
         <button type="submit">Save</button>
       </div>
     </form>
     {{else}}
     <hr>
     <h2 align="center">You must be logged in to make comments</h2>
     <hr>
     {{/if}}
     <p style="color: #2980b9;">Comments</p>
     <hr>
     {{#each post.comments}}
     <p style="color: green;">{{this.username}}</p>

      <p>{{this.content}}</p>
      <a href="/posts/{{post._id}}/comments/{{comment._id}}/replies/new">Reply</a>

      <hr>
    {{/each}}


  </div>

</div>
